<%
  login = !!params[:login]

  if login
    message("Hi #{ @user.email } - Please set your password and we'll let you right in!", :class => 'success')
  end
%>

<div class="row-fluid">
  <%= form(request.fullpath, :class => 'span4 offset4') do %>
    <%= errors_for(@errors) %>

    <% if @user %>
      <div class="instructions">
        Please enter a new password.
        <br>
        We'll reset it and send you on your way.
      </div>

      <%= label_tag 'Email' %>
      <%= text_field_tag :email, @email, :autofocus => @email.blank?, :readonly => true, :disabled => true %>

      <%= render :partial => 'auth/password' %>

      <br />
      <br />
      <%= submit_tag((login ? :Login! : :Reset), :class => 'btn', :style => 'width:100%') %>
      <%= hidden_field_tag :which, :reset %>

    <% else %>
      <div class="instructions">
        Please enter your email.
        <br>
        We'll email you a password reset link right away.
      </div>

      <%= label_tag 'Email' %>
      <%= text_field_tag :email, @email, :autofocus => @email.blank? %>

      <br />
      <br />
      <%= submit_tag :Send, :class => 'btn', :style => 'width:100%' %>
      <%= hidden_field_tag :which, :send %>

    <% end %>


    <% unless login %>
      <br />
      <br />
      need to <%= link_to 'login', login_path(:email => @email) %> instead?
    <% end %>
  <% end %>
</div>
