<% unless @locator.locations.blank? %>
  <%
    locations_points = @locator.locations.map(&:loc)
    locations_map_url = map_for_points(locations_points, :color => '0x00AEEF', :style => nil)  
    label = '@'
  %>

  <div class="container" id="search-results" style="max-width: 790px;">
  <div style="background-color:white;">

    <!-- link back to search -->
    <div style="text-align:left;">
      <%= link_to raw('&larr; Return to Search'), 'locator.html', :class => 'tab' %>
    </div>
    
    <hr>

    <!-- search criteria -->
    <div style="text-align:center;">
      <!-- <h3> @locator.criteria ?? </h3>-->
    </div>

    <!-- big map with results over view -->
    <div class="row" style="margin-left:0px;">
      <div class="span8">
        <img src="<%= locations_map_url %>">
      </div>

      <div class="span4" style="text-align:left;margin-left:20px;">
        <h3><%= @locator.locations.size %> <%= 'location'.pluralize(@locator.locations.size) %></h3>
        <ul style="list-style-type:none;">
          <% @locator.locations.each do |location| %>
            <li>
              <a href="#<%= location.id %>"><%= location.title.titleize %> &mdash; <%= label.succ! %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- request location -->
    <div class="row" style="text-align:left; margin: 15px 0;">
      <div>
        <i class="fa fa-chevron-right"></i>
        <a href id='request-location-link'>Request <%= @locator.brand.title %> at my location!</a>
      </div>
    </div>

    <!-- individual result listings -->
    <% 
     label = '@'

     @locator.locations.each do |location|
      title          = location.title.titleize
      address        = location.address
      phone          = location.phone.to_s.html_safe
      distance       = location.distance.round(2)
      map_url        = location.map_url.html_safe
      lat            = location.lat
      lng            = location.lng
      google_map_url = "http://maps.google.com/maps?q=loc:#{ lat },#{ lng }&amp;gl=us&amp;t=m&amp;z=12" 
      google_map_url = "http://maps.google.com/maps?q=#{ CGI.escape(address) }".html_safe
    %>
    
      <div class="row-fluid" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #000; max-width: 790px;">
        <div class="span3" style="text-align:left;">
          <ul style="list-style-type:none;margin-left:0px;">
            <li>
              <a id="<%= location.id %>" href="#search-results">
                <h5 style="white-space:nowrap;width:6em;">&uarr;<%= label.succ! %></h5>
              </a>
            </li>
            <li>
              <h4><%= title %> (<%= @locator.label_for(location.type) %>)</h4>
            </li>
            <li>
              <a href="tel:<%= phone %>"><%= phone %></a>
            </li>
            <li>
              <a href="<%= google_map_url %>" target="_blank" class="location-map-link">
                <%= address %>
              </a>
            </li>
            <li>
              ~ <%= distance %> miles
            </li>
          <ul>
        </div>
        
        <div class="span8" style="text-align:right;">
          <figure class="location-map" style="padding:0px;margin:0px;">
            <img src="<%= map_url %>" />

            <figcaption style="margin-top: 5px;">
              <a href="<%= google_map_url %>" target="_blank" class="location-map-link">
                Google Map &raquo;
              </a>
            </figcaption>
          </figure>
        </div>
      </div>

    <% end %>
  </div>
  </div>

<% else %>
  <h5>
    Sorry, no locations found.
  </h5>
<% end %>
<hr>
<%= link_to raw('&larr; Return to Search'), '', :class => 'tab' %>

<!-- css -->
<%= stylesheet_link_tag("font-awesome") %>

