<% unless @locator.locations.blank? %>
  <%
    locations_points = @locator.locations.map(&:loc)
    locations_map_url = map_for_points(locations_points, :color => '0x00AEEF', :style => nil)  
    label = '@'
  %>

  <table class='search-results' id='search-results'>
    <caption style='text-align:left;'>
      <h3><%= @locator.locations.size %> <%= 'location'.pluralize(@locator.locations.size) %></h3>
      <ul>
        <% @locator.locations.each do |location| %>
          <li>
            <a href="#<%= location.id %>"><%= label.succ! %> &mdash; <%= location.title.titleize %></a>
          </li>
        <% end %>
      </ul>
      <img src="<%= locations_map_url %>">
      <br>
      <br>
    </caption>

    <% 
     label = '@'

     @locator.locations.each do |location|
      title          = location.title.titleize
      address        = location.address
      phone          = location.phone.to_s.html_safe
      distance       = location.distance.round(2)
      map_url        = location.map_url.html_safe
      lat            = location.lat
      lng            = location.lng
      google_map_url = "http://maps.google.com/maps?q=loc:#{ lat },#{ lng }&amp;gl=us&amp;t=m&amp;z=12" 
      google_map_url = "http://maps.google.com/maps?q=#{ CGI.escape(address) }".html_safe
    %>

    <tr style='border-top:1px solid #ccc;'>
      <td>
        <a id="<%= location.id %>" href="#search-results">
          <h5 style="white-space:nowrap;width:6em;">&uarr;<%= label.succ! %></h5>
        </a>
      </td>

      <td style='text-align:right;'>
        <h4><%= title %> <em>(<%= @locator.label_for(location.type) %>)</em></h4>
      </td>

      <td style='text-align:right;'>
        <a href="tel:<%= phone %>"><%= phone %></a>
      </td>
    </tr>

    <tr>
      <td>
        &nbsp;
      </td>

      <td style='text-align:right;'>
        <a href="<%= google_map_url %>" target="_blank" class="location-map-link">
          <%= address %>
        </a>
      </td>

      <td style='text-align:right;'>
        <em>~ <%= distance %> miles</em>
      </td>
    </tr>

    <tr>
      <td>
        &nbsp;
      </td>

      <td colspan=2>
        <figure class="location-map" style="padding:0px;margin:0px;">
          <img src="<%= map_url %>" />

          <figcaption>
            <a href="<%= google_map_url %>" target="_blank" class="location-map-link">
              Google Map &raquo;
            </a>
          </figcaption>
        </figure>
      </td>
    </tr>

    <% end %>
  </table>

<% else %>
  <h5>
    Sorry, no locations found.
  </h5>
<% end %>
<hr>
<%= link_to raw('&larr; Return to Search'), '', :class => 'tab' %>
