<table class='grid' style='width:100%;'>
  <tr>
    <td style='vertical-align:top;'>
    <%= 
      content = raw(@brand ? "Import #{ @brand.slug.inspect } locations &rarr;" : "Import locations &rarr;")
      link_to content, url_for(:action => :import), :title => 'Import Locations From CSV', :class => 'btn btn-success' 
    %>
    </td>
    <td style='vertical-align:top;text-align:right;'>
      <form>
        <input type="search" name="search" placeholder="search" value="<%= params[:search] %>" />
      </form>
    </td>
  </tr>
</table>

<table class='table table-striped' style='font-size:0.75em;'>
  <thead>
    <th>
      Brand
    </th>
    <th>
      Title
    </th>
    <th>
      MD5
    </th>
    <th>
      Full Address
    </th>
    <th>
      Map
    </th>
  </thead>

  <% @locations.each do |location| %>
  <tr>
    <td>
      <%= link_to location.brand.slug, url_for(:brand_id => location.brand.slug, :action => :index) %>
    </td>
    <td>
      <%= location.title %>
    </td>
    <td>
      <%= location.md5 %>
    </td>
    <td>
      <%= location.loc ? location.formatted_address : "~ #{ location.raw_address }" %>
    </td>
    <td>
      <%=
        lat = location.lat
        lat = lat.round(2) if lat
        lng = location.lng
        lng = lng.round(2) if lng
        loc = [lat, lng].compact.join(', ')

        if loc.blank?
          "~"
        else
          link_to("@ #{ loc }",
            location.map_url,
            'target' => :_blank, 'class' => 'map-lightbox', 'data-title' => location.title
          )
        end
      %>
    </td>
  </tr>
  <% end %>

</table>

<br>
<%= paginate @locations.scoped %>

<script>


  jq(function(){

    jq(".map-lightbox").colorbox({
      rel:'map-lightbox',
      transition:"none",
      width:"80%",
      height:"80%",
      photo:true,
      title: function(){
        var url = $(this).attr('href');
        var title = $(this).data('title');
        return '<a href="' + url + '" target="_blank">' + title + '</a>';
      }
    });



  });


</script>
