<table class='grid' style='width:100%;'>
  <tr>
    <td style='vertical-align:top;'>
      <%= 
        #content = raw(@brand ? "Import #{ @brand.slug.inspect } locations &rarr;" : "Import locations &rarr;")
        content = "Import locations &rarr;"
        link_to raw(content), url_for(:action => :import), :title => 'Import Locations From CSV', :class => 'btn btn-success'
      %>
      <br>
      <br>
      <%=
        link_to 'Geolocate!', '/javascript_jobs/runner', :title => 'Geolocate locations in your browser!', :class => 'btn btn-danger', :target => :_blank
      %>
    </td>
    <td>
      <%= form :method => :get do %>
        <%= 
          select_tag(
            :brand,
            options_for_select(Brand.all.map(&:slug),
            :selected      => @brand.try(:slug)),
            :include_blank => true,
            :onChange      => '$this=$(this); url = $this.val() ? "/admin/brands/:brand/locations".replace(":brand", $this.val()) : "/admin/locations"; window.location = url;'
          )
        %>
        <table>
          <tr>
            <td style='text-align:right;padding-right:1em;'>
              <a href="<%= url_for(:action => :index, :geolocated => true) %>" style="opacity:<%= params[:geolocated]=='true'?'1.0':'0.3' %>;">geolocated</a>
            </td>
            <td>
              <%= @brand_scope.where(:geo_location_id.ne => nil).count %>
            </td>
          </tr>

          <tr>
            <td style='text-align:right;padding-right:1em;'>
              <a href="<%= url_for(:action => :index, :geolocated => false) %>" style="opacity:<%= params[:geolocated]=='false'?'1.0':'0.3' %>;">not geolocated</a>
            </td>
            <td>
              <%= @brand_scope.where(:geo_location_id => nil).count %>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
    <td style='vertical-align:top;text-align:right;'>
      <form>
        <input type="search" name="search" placeholder="search" value="<%= params[:search] %>" />
      </form>
    </td>
  </tr>
</table>

<table class='table table-striped' style='font-size:0.75em;'>
  <thead>
    <th>
      Brand
    </th>
    <th>
      Title
    </th>
    <th>
      MD5
    </th>
    <th>
      Address
    </th>
    <th>
      Map
    </th>
  </thead>

  <% @locations.each do |location| %>
  <tr>
    <td>
      <%= link_to location.brand.slug, url_for(:brand_id => location.brand.slug, :action => :index) %>
    </td>
    <td>
      <%= location.title %>
    </td>
    <td>
      <%= link_to location.md5, url_for(:action => :show, :id => location.md5), :target => :_blank %>
    </td>
    <td>
      <%= 
        address = location.loc ? location.formatted_address : location.raw_address
        url = 'https://maps.google.com/maps?q=%s' % address
        a_(:href => url, :target => :_blank){ "#{ '~ ' unless location.loc }#{ address }" }
      %>
    </td>
    <td>
      <%=
        lat = location.lat
        lat = lat.round(2) if lat
        lng = location.lng
        lng = lng.round(2) if lng
        loc = [lat, lng].compact.join(', ')

        if loc.blank?
          "~"
        else
          link_to("@ #{ loc }",
            location.map_url,
            'target' => :_blank, 'class' => 'map-lightbox', 'data-title' => location.title
          )
        end
      %>
    </td>
  </tr>
  <% end %>

</table>

<br>
<%= paginate @locations.scoped %>

<script>


  jq(function(){

    jq(".map-lightbox").colorbox({
      rel:'map-lightbox',
      transition:"none",
      width:"80%",
      height:"80%",
      photo:true,
      title: function(){
        var url = $(this).attr('href');
        var title = $(this).data('title');
        return '<a href="' + url + '" target="_blank">' + title + '</a>';
      }
    });



  });


</script>
