<%

  domid = "job-#{ @job.id }"

%>

<div id="<%= domid %>">

  <%= link_to 'Refresh', request.fullpath, :class => 'btn btn-success' %>
  <br>

  <dl>
    <dt>
      status
    </dt>
    <dd>
      <%= span_(:class => "label #{ @job.status == 'success' ? 'label-success' : 'label-important' }"){ @job.status } %>
    </dd>

    <dt>
      csv
      <small>
        (
        <%= link_to 'download', url_for(:csv => :download), :target => :_blank %>
          |
        <%= link_to 'preview', url_for(:csv => :preview), :target => :_blank %>
        )
      </small>
    </dt>

    <dt>
      details
    </dt>
    <dd>
      <%= 
        if @job.status == 'success'
          if @job.result.blank?
            '~'
          else
            @job.result['_'].html_safe
          end
        else
          pre_(:style => 'font-size:0.75em;'){ 
            Array(@job.failures).reverse.each do |failure|
              hr_{}
              tagz << failure.to_s
              br_{}
              br_{}
            end
          }
        end
      %>
    </dd>
  </dl>

</div>

<% unless request.xhr? %>

<script>
  jq(function(){
    var id = <%= j domid %>;
    var url = <%= j request.fullpath %>;

    var selector = '#' + id;
    var target = jq(selector);

    setInterval(function(){
      jq.ajax({
        'type' : 'GET',
        'cache' : false,
        'success' : function(html){
        console.log(html);
          target.replaceWith(html);
          target = jq(selector);
        }
      });
    }, 30000);
  });
</script>

<% end %>
