<div class="row-fluid">
  <%= form(@c, :url => request.fullpath, :class => 'span4 offset4') do |f| %>
    <% if @c.user %>
      <div class="instructions">
        Please enter a new password.
        <br>
        We'll reset it and send you on your way.
      </div>

      <%= f.errors %>

      <%= f.label :email %>
      <%= f.input :email, :readonly => true, :disabled => true %>

      <%= f.label :password %>
      <%= f.input :password, :type => :password, :autofocus => @c.errors.on(:password).blank? %>

      <br />
      <br />
      <%= f.submit :value => 'Reset Password', :class => 'btn', :style => 'width:100%' %>

      <%=
        f.input :token, :type => :hidden, :value => params[:token] if params[:token]
      %>

    <% else %>
      <div class="instructions">
        Please enter your email.
        <br>
        We'll email you a password reset link right away.
      </div>

      <%= f.errors %>

      <%= f.label :email %>
      <%= f.input :email, :autofocus => @c.email.blank? %>

      <br />
      <br />
      <%= f.submit :value => 'Send Password Reset Link', :class => 'btn', :style => 'width:100%' %>

    <% end %>


    <% unless @c.user %>
      <br />
      <br />
      need to <%= link_to 'login', login_path(:email => @c.email) %> instead?
    <% end %>
  <% end %>
</div>
