<%= form @rfi, :url => request.fullpath do |f| %>

  <%= f.messages %>
  <%= f.errors %>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :first_name %>
      <%= f.input :first_name, :class => 'span12', :placeholder => 'First Name' %>
    </div>

    <div class="span5">
      <%= f.label :last_name %>
      <%= f.input :last_name, :class => 'span12', :placeholder => 'Last Name' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :address %>
      <%= f.input :address, :class => 'span12', :placeholder => 'Mailing Address' %>
    </div>
    <div class="span5">
      <%= f.label :term %>
      <%= f.select :term, :options => ['Spring 2013', 'Fall 2013', 'Spring 2014', 'Fall 2014', 'Spring 2015', 'Fall 2015'], :class => 'span12' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :email %>
      <%= f.input :email, :class => 'span12', :placeholder => 'Email address' %>
    </div>
    <div class="span5">
      <%= f.label :mobile_phone %>
      <%= f.input :mobile_phone, :class => 'span12', :placeholder => 'Cell phone #' %>
    </div>
  </div>

  <div class="row-fluid contact-form-button">
    <div class="span10 offset1">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
