<!-- html --> 

  <%= form(@locator, :url => request.fullpath, :html => {:id => 'locator-form', :style => 'text-align:center;background-color:white;color:#333;padding:2em;'}) do |f| %> 

    <%= f.messages %>

    <table style='width:100%;'>
      <tr>
        <td>
          <h3 style='color:#999;border-bottom:1px solid #999;'>
            Thirsty? Find <%= @brand.title %> below.
          </h3>
        </td>
      </tr>

      <!-- search input fields -->
      <tr>
        <td>

          <label for='position' style='display:inline-block;'>
            Click the 
            <i id="position" class="fa fa-location-arrow" style="font-size: 1.2em;color:#3369f2;"></i>
            to use your current location.
          </label>

          <br>

          <%= f.label(:address, :class => '', :style => 'display:inline-block;'){ 'Or enter any address, zipcode, state, etc.' } %>
          <br>
          <%= f.input :address, :id => :address, :autofocus => :autofocus %>
          
          <%= f.input :ll, :id => :ll, :type => :hidden %>
          <%= f.input :formatted_address, :id => 'formatted-address', :type => :hidden %>

          <br>
          <%= f.submit :value => 'Search', :id => 'search-submit', :class => 'btn btn-inverse' %>
        </td>
      </tr>

      <% if @locator.types.size > 1 %>

      <tr>
        <td>

          <br>
          <div style="text-align:left; background-color: #333; color:#fff; display:inline-block; border-radius:5px;padding: 7px 10px;">
          <% @locator.types.each do |type| %>
            <%= f.checkbox :types, type, :checked => :checked, :style => 'margin:0px;' %>
            <%= f.label(:types, type, :style => 'display:inline;color:#fff;'){ 'Include ' + @locator.label_for(type) } %>
            <br>
          <% end %>
          </div>

        </td>
      </tr>

      <% end %> 

      <tr>
        <td>
          <br>
          <div style='font-style:italic;color:#999;'>
            * Inventories can fluctuate. We recommend you contact the retailer to ensure stock of the beer
          </div>
        </td>
      </tr>
    </table>


  <% end %>


<!-- css -->
  <%= stylesheet_link_tag("font-awesome") %>


<!-- js -->

  <%= javascript_include_tag 'geoPosition' %>

  <script>
    jQuery(function(){
    //
      var locator_form       = jQuery('#locator-form');

      var position_input          = locator_form.find('#position');
      var address_input           = locator_form.find('#address');
      var ll_input                = locator_form.find('#ll');
      var formatted_address_input = locator_form.find('#formatted-address');
      var email_input             = locator_form.find('#email');

      var search_submit      = locator_form.find('#search-submit');

    //
      position_input.click(function(){
        geo_position.callbacks.push( 
          function(){
            //App.flash("<em>Click 'Search' if it this location seems correct!</em>", {'class' : 'alert-success'});
            search_submit.removeClass('btn-inverse');
            search_submit.addClass('btn-primary');
          }
        );
        geo_position();
      });

    //
      geo_locate = function(address, callback){
        Brand.geo_locate({
          'address' : address,
          'complete' : function(data){
            var loc;

            var results = data ? (data['results'] || data) : [];

            try {
              loc = results[0].geometry.location;
            } catch(e) { loc = null };

            if(loc){
              try {
                lat = loc.lat(); //['lat']||loc['nb'];
                lng = loc.lng(); //['lng']||loc['ob'];
                var ll = [lat, lng].join(', ');
                ll_input.val(ll);
              } catch(e) { };
            }

            var formatted_address;
            try {
              formatted_address = eval('results[0].formatted_address') || {};
            } catch(e) { formatted_address = null };

            if(formatted_address){
              formatted_address_input.val(formatted_address);
            }

            callback && callback();
          }
        });
      };

    //
      address_input.keydown(function(event){
        if(event.keyCode == 13) {
          //event.preventDefault();
          //search_submit.click();
          //return false;
        }
        true;
      });

    //
      search_submit.click(function(){
        var address = address_input.val();

        if( address && (ll_input.data('address') != address) ){
          ll_input.data('address', address);
          geo_locate(address, function(){ search_submit.click() });
          return false;
        }

        if( address_input.val() || ll_input.val() ){
          return true;
        } else {
          //geo_position.callbacks.push( function(){ setTimeout( function(){ search_submit.click() }, 1000) });
          geo_position.callbacks.push( 
            function(){
              App.flash("<em>Click 'Search' again if the auto-detected location seems correct!</em>", {'class' : 'alert-info'});
              address_input.focus();
              search_submit.removeClass('btn-inverse');
              search_submit.addClass('btn-primary');
            }
          );
          geo_position();
          return false;
        }
      });

    //
      var geo_position = function(){
        if(geoPosition.init()){
        //
          var complete = function(data){
            var formatted_address;

            var results = data ? (data['results'] || data) : [];

            try {
              formatted_address = results[0].formatted_address;
            } catch(e) { formatted_address = null };

            if(formatted_address){
              formatted_address_input.val(formatted_address);
            }

            try {
              var parts = formatted_address.split(',');
              while(parts.length > 3){
                parts.shift();
              };
              var approximate_address = parts.join(', ');
              address_input.val(approximate_address);
              ll_input.data('address', approximate_address);
            } catch(e){
              address_input.val(ll);
              ll_input.data('address', ll);
            };

            while(geo_position.callbacks.length > 0){
              var cb = geo_position.callbacks.shift();
              cb(data || {});
            };
          };

        //
          var success = 
            function(response){
              var coords = response.coords;
              var lat = coords['latitude'].round(2);
              var lng = coords['longitude'].round(2);
              var ll = [lat, lng].join(', ');

              ll_input.val(ll);

              Brand.geo_locate({
                'address' : ll,
                'complete' : complete
              });
            };

        //
          var error = complete;

          try{
            geoPosition.getCurrentPosition(success, error);
          } catch(e) {
            complete();
          };
        } else {
          alert('Sorry, your browser does not support this feature.');
        }
      };
      geo_position.callbacks = [];

    });
  </script>
