<% unless @locator.locations.blank? %>
  <%
    locations_points = @locator.locations.map(&:loc)
    locations_map_url = map_for_points(locations_points, :color => '0x00AEEF', :style => nil)  
    label = '@'
  %>

  <div class="container" id="search-results" style="max-width: 790px;">
  <div style="background-color:white;">

  <!-- search criteria -->

    <% if @locator.search_criteria.present? %>
      <div>
        <h3>
          <%= @brand.title %> locations near

          <span style="color:#999;font-style:italic;">
            &ldquo;<%= @locator.search_criteria %>&rdquo;
          </span>
        </h3>
      </div>
    <% end %>

  <!-- big map with results over view -->

    <div class="row" style="margin-left:0px;">
      <div class="span8">
        <img src="<%= locations_map_url %>">
      </div>

      <div class="span8" style="text-align:left;margin-left:20px;">
        <h3><%= @locator.locations.size %> <%= 'location'.pluralize(@locator.locations.size) %></h3>
        <ul style="list-style-type:none;">
          <% @locator.locations.each do |location| %>
            <li>
              <a href="#<%= location.id %>">
                <%= label.succ! %> &mdash; <%= location.title.titleize %>
                (<%= @locator.singular_label_for(location.type) %>)
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  <!-- link back to search -->

    <div style="text-align:left;">
      <h5>Didn't find what you where looking for?</h5>
      <%= link_to raw('Search Again'), url_for(:action => 'locator'), :class => 'btn btn-inverse' %>
      &mdash; or &mdash;
      <%= link_to raw("Request #{ @brand.title } at your location<em>!</em>"), 'javascript:$("#rfb-form").toggle().find("#email").focus()', :id => :rfb, :class => 'btn btn-primary' %>
    </div>
    <hr>

    <%= form(@locator, :url => request.fullpath, :html => {:id => 'rfb-form', :style => 'display:none;background-color:white;color:#333;padding:2em;'}) do |f| %> 
      <%= f.label :email, :style => 'color:#333', :autofocus => :autofocus %>
      <%= f.input :email, :id => :email %>

      <%= f.label :mobile_phone, :style => 'color:#333' %>
      <%= f.input :mobile_phone %>

      <%= f.label :notes, :style => 'color:#333;' %>
      <%= f.textarea :notes, :style => 'width:42em;height:4em;' %>

      <br>
      <hr>
      <%= f.submit :value => 'Request', :id => 'rfi-submit', :class => 'btn btn-primary' %>

      <%= f.input :address, :type => :hidden %>
      <%= f.input :formatted_address, :type => :hidden %>
      <%= f.input :lat, :type => :hidden %>
      <%= f.input :lng, :type => :hidden %>
      <%= f.input :ll, :type => :hidden %>
    <% end %>

    <script>
      jQuery(function(){
        var rfb_form = $("#rfb-form");

        rfb_form.ajaxForm({
          'success' : function(){
            App.flash("Thanks for your request for <%= @brand.title %>!", {"class" : "alert-success"});
            rfb_form.toggle();
          },
          'error' : function(){
            App.flash("Sorry, please provide a valid email and/or mobile phone # in your request", {"class" : "alert-error"});
          },
          'complete' : function(){
            jQuery("html, body").animate({ scrollTop: 0 }, "fast");
          }
        });
      });
    </script>

  <!-- individual result listings -->

    <% 
     label = '@'

     @locator.locations.each do |location|
      title          = location.title.titleize
      address        = location.address
      phone          = location.phone.to_s.html_safe
      distance       = location.distance.round(2)
      map_url        = location.map_url.html_safe
      lat            = location.lat
      lng            = location.lng
      google_map_url = "http://maps.google.com/maps?q=loc:#{ lat },#{ lng }&amp;gl=us&amp;t=m&amp;z=12" 
      google_map_url = "http://maps.google.com/maps?q=#{ CGI.escape(address) }".html_safe
    %>
    
      <div class="row-fluid search-result" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #000; max-width: 790px;">
        <div class="span3" style="text-align:left;">
          <ul style="list-style-type:none;margin-left:0px;">
            <li>
              <a id="<%= location.id %>" href="#search-results">
                <h5 style="white-space:nowrap;width:6em;">&uarr;<%= label.succ! %></h5>
              </a>
            </li>
            <li>
              <h4><%= title %></h4>
            </li>
            <li>
              <a href="tel:<%= phone %>"><%= phone %></a>
            </li>
            <li>
              <a href="<%= google_map_url %>" target="_blank" class="location-map-link">
                <%= address %>
              </a>
            </li>
            <li>
              ~ <%= distance %> miles
            </li>
            <li>
              <em>(<%= @locator.singular_label_for(location.type) %>)</em>
            </li>
          <ul>
        </div>
        
        <div class="span8" style="text-align:right;">
          <figure class="location-map" style="padding:0px;margin:0px;">
            <img src="<%= map_url %>" />

            <figcaption style="margin-top: 5px;">
              <a href="<%= google_map_url %>" target="_blank" class="location-map-link">
                Google Map &raquo;
              </a>
            </figcaption>
          </figure>
        </div>
      </div>

    <% end %>
  </div>
  </div>

<% else %>
  <h5>
    Sorry, no locations found.
  </h5>
<% end %>
<br>
<%= link_to raw('&larr; Return to Search'), url_for(:action => :locator) %>
<br>
<br>

<!-- css -->
<%= stylesheet_link_tag("font-awesome") %>

