<%= form @form, :url => request.fullpath do |f| %>

  <%= f.messages %>
  <%= f.errors %>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :state %>
      <%= f.select :state, :options => %w[Need Some States], :blank => 'Select a State' %>
    </div>
    <div class="span5 contact-form-button">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      - OR -
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :postal_code %>
      <%= f.input :postal_code, :class => 'span12', :placeholder => 'Postal Code' %>
    </div>
    <div class="span5 contact-form-button">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      - OR -
    </div>
  </div>


 
  <div class="row-fluid">
    <div class="span5 offset1">
        <%= f.label :address %>
        <%= f.input :address, :class => 'span12', :placeholder => 'Address' %>
    </div>
    <div class="span5 contact-form-button">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
