<%= form @form, :url => request.fullpath do |f| %>

  <%= f.messages %>
  <%= f.errors %>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :first_name %>
      <%= f.input :first_name, :class => 'span12', :placeholder => 'First Name' %>
    </div>

    <div class="span5">
      <%= f.label :last_name %>
      <%= f.input :last_name, :class => 'span12', :placeholder => 'Last Name' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :email %>
      <%= f.input :email, :class => 'span12', :placeholder => 'Email' %>
    </div>
    <div class="span5">
      <%= f.label :mobile_phone %>
      <%= f.input :mobile_phone, :class => 'span12', :placeholder => 'Mobile' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">
      <%= f.label :postal_code %>
      <%= f.input :postal_code, :class => 'span12', :placeholder => 'Postal Code' %>
    </div>
  </div>

  <div class="row-fluid contact-form-button">
    <div class="span10 offset1">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
