
<nav>
  <h4>
    <%= link_to raw('New Upload &rarr;'), url_for(:action => :new) %>
  </h4>
</nav>

<br />


<table class='table table-bordered table-striped'>
    <tr style='text-align:left'>
      <th style='padding:0.5em'>Id</th>
      <th style='padding:0.5em'>Name</th>
      <th style='padding:0.5em'>Updated</th>
      <th style='padding:0.5em'>Preview</th>
    </tr>

  <% @uploads.each do |upload| %>
    <tr>
      <td style='padding:0.5em 1em;vertical-align:top;'>
        <%= upload.id %>
      </td>
      <td style='padding:0.5em 1em;vertical-align:top;'>
        <%= link_to upload.basename, url_for(:action => :show, :id => upload.id) %>
      </td>
      <td style='padding:0.5em 1em;vertical-align:top;'>
        <%= time_ago_in_words upload.updated_at %> ago
      </td>
      <td style='padding:0.5em 1em;vertical-align:top;'>
        <%
          variant = upload.variants.first
          if variant && variant.image?
        %>
        <%=
          link_to(
            image_tag(variant.url(:small), :style => "max-width:42px;max-height:42px;"),
            variant.url(:original),
            :class => "upload-lightbox",
            :title => variant.title
          )
        %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


<br />
<small>
<%= paginate @uploads %>
</small>

<script>
  jq(function(){
    jq(".upload-lightbox").colorbox({rel:'upload-lightbox', transition:"none", width:"80%", height:"80%"});
  });
</script>
